.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid $primary-light;
  outline-offset: 4px;
  border: 2px dotted $light;
  letter-spacing: 2px;
  background-color: $primary;
  color: $dark;
  padding-inline: 1em;
  border-radius: 50px;
  transition-duration: 0.2s;
  box-shadow: $shadow-primary;
  min-width: 9rem;
  max-width: 220px;
}

.btn:hover {
  background-color: $dark-light;
  outline: 3px solid $light;
  border-color: $light;
  color: $light !important;
  opacity: 85%;
}

.btn:focus {
  color: $light;
}

.btn:after {
  opacity: 1;
  transition: 0s;
}
