$primary: #ec7d3d;
$primary-light: #fcbf96;
$secondary: #8ae765;
$secondary-light: #d7fac7;
$dark: #08080b;
$dark-light: #242127;
$dark-opacity: rgba(8, 8, 11, 0.4);
$light: #fbfbfb;
$tertiary: #6e6a64;

$navbar-height: 64px;
$footer-height: 90px;

$font-base: "Roboto", sans-serif;
$font-title: "Cinzel Decorative", cursive;

$body-color: $light;
$body-bg: $dark-light;
$font-family-base: $font-base;
$shadow-primary: 0.5rem 0.5rem 1rem rgba(89, 89, 87, 0.1);
