$primary: #ec7d3d;
$primary-light: #f29e6d;
$secondary: #fff260;
$secondary-light: #f2f2af;
$dark: #08080b;
$dark-light: #242127;
$dark-opacity: rgba(8, 8, 11, 0.4);
$light: #fbfbfb;
$tertiary: #6e6a64;

$navbar-height: 64px;
$footer-height: 90px;

$font-base: "Roboto", sans-serif;
$font-title: "Cinzel Decorative", cursive;

$body-color: $light;
$body-bg: $dark-light;
$font-family-base: $font-base;
$shadow-primary: 0.2rem 0.2rem 1.5rem rgba(89, 89, 87, 0.2);
$shadow-secondary: 0.1rem 0.1rem 2rem rgba(15, 15, 15, 0.3);

$navbar-dark-color: rgba($primary, 0.95);
$navbar-dark-hover-color: rgba($light, 0.85);
$navbar-dark-active-color: $secondary;
