$primary: #d7ba31;
$primary-light: #ebd08a;
$secondary: #474035;
$secondary-light: #695e5e;
$dark: #08080b;
$dark-light: #0e0d12;
$dark-opacity: rgba(8, 8, 11, 0.4);
$light: #fbfbfb;
$tertiary: #474035;
$success-light: #6bc92c;
$danger: rgb(209, 45, 45);

$navbar-height: 64px;
$navbarTastingSheetBg: #1a1813;
$footer-height: 90px;

$dropdown-link-hover-bg: $primary;
$dropdown-link-hover-color: $dark-light;

$font-base: "Roboto", sans-serif;
$font-card-title: "Roboto", sans-serif;
$font-title: "Roboto", sans-serif;

$body-color: $light;
$body-bg: $dark-light;
$font-family-base: $font-base;
$shadow-primary: 0.5rem 0.5rem 1rem rgba(189, 173, 53, 0.1);
