@import "_variables.scss";

.letter-spacing {
  letter-spacing: 3px;
}

.container-admin {
  margin: 4rem;
  border: 1px solid $secondary-light;
  background: $card-gradient-color;
  border-radius: var(--bs-border-radius);
  box-shadow: $shadow-primary;
}
