@import "_variables";
.card {
  background-color: $tertiary;
  box-shadow: $shadow-secondary;
}
.card h5 {
  font-weight: 600;
}

.card-header {
  background-color: $dark-light;
}
.card-title.overflow {
  height: 55px;
  max-height: 55px;
  overflow: hidden;
}

.card-text.overflow {
  padding-top: 1rem;
  height: 155px;
  max-height: 155px;
  overflow: auto;
  font-weight: 300;
}

.card-footer {
  min-height: 46px;
  background-color: $dark-light;
}
.card-link:hover {
  color: $dark-light;
}
