{% extends 'visitor.html.twig' %}
{% block title %}
	{{ parent()}}
	- Nouvel Album
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('album') }}
{% endblock %}
{% block body %}
<main class="mt-4">
	<div class="container">
		<div class="row">
			<div class="m-auto col col-xl-10">
				<h1 class="fw-bolder">Nouvel Album</h1>
				<div class="border border-primary border-1">
					<div class="m-1 p-1 p-xl-3 m-xl-3">
						{{ include('album/_form.html.twig') }}
					</div>
				</div>
			</div>
		</div>
	</div>
</main>	
{% endblock %}