<footer class="container-fluid bg-dark py-3 px-5 bg-footer">
	<div class="row">
		<div class="d-flex flex-column flex-md-row justify-content-md-around align-items-center">
			<div class="text-center text-md-start social col mb-4 mb-md-0">
				<a class="text-decoration-none my-2" href="#" target="_blank">
					{% include "components/svg/_icon_facebook.svg.twig" %}
				</a>
				<a href="#" class="text-decoration-none" target="_blank">
					{% include "components/svg/_icon_instagram.svg.twig" %}
				</a>
				<a href="#" class="text-decoration-none" target="_blank">
					{% include "components/svg/_icon_twiter.svg.twig" %}
				</a>
			</div>
			<div class="d-flex align-items-center justify-content-center title col">
				<h2 class="letter-spacing text-uppercase m-0 p-0">Art-Gallery@2023</h2>
			</div>
			<div class="d-flex align-items-center justify-content-end details col">
				<p class="h-100 mb-0">
					<a class="fw-light" href="#">Mentions légales</a>
				</p>
			</div>
		</div>
	</div>
</footer>